{% extends "base.html" %}
{% block content %}
<h2 class="main-heading">Welcome To DO-VOTE</h2>
<div class="do-card mx-auto">
    <div class="do-card-head">This Website Is Meant For Simple Voting Purpose</div>
    <div class="do-card-body">
        <a href="/vote" class="big-link">Click Here For Vote</a>
        <a href="/register" class="big-link">Click Here For Registration</a>
    </div>
</div>
<div class="do-card mx-auto mt-4">
    <div class="do-card-head">Services</div>
    <div class="do-card-body text-dark">
        <h4>Please Follow Following Steps For Voting</h4>
        <ul>
            <li>First Register</li>
            <li>Then Login</li>
            <li>After Login You Have to Verify Your Eligibility</li>
            <li>You Will Have Only One Chance</li>
            <li>Hurray, You Are Voter Now</li>
        </ul>
    </div>
</div>
{% endblock %}
