{% extends "base.html" %}
{% block content %}
<div class="form-card mx-auto">
    <div class="do-card-head">Registration of voter</div>
    <form method="POST" class="do-card-body">
        <label>First Name</label>
        <input class="form-control mb-2" name="first_name" required>
        <label>Last Name</label>
        <input class="form-control mb-2" name="last_name" required>
        <label>User Name</label>
        <input class="form-control mb-2" name="username" required>
        <small>Enter your Voter ID / username</small><br>
        <label>Email address</label>
        <input class="form-control mb-2" name="email" type="email" required>
        <label>Password</label>
        <input class="form-control mb-2" name="password" type="password" required>
        <label>Confirm Password</label>
        <input class="form-control mb-3" name="confirm_password" type="password" required>
        <button class="btn btn-dark">Register</button>
        <button class="btn btn-outline-dark" type="reset">Reset</button>
    </form>
</div>
{% endblock %}
